---
---

@import 'jekyll-theme-cayman';
@import url('https://fonts.googleapis.com/css?family=ABeeZee&display=swap');


body {
    font-family: 'ABeeZee', sans-serif;
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #148c8c;
    background-image: linear-gradient(120deg, #80c4d8, #4870b8);
}

.page-header {
    padding: 1.5rem 6rem;padding: 1.5rem 6rem;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #96a055;
}
