---
---

@import 'jekyll-theme-cayman';

.page-header {
    color: #fff;
    text-align: center;
    background-color: #148c8c;
    background-image: linear-gradient(120deg, #80c4d8, #075794);
}

.page-header {
    padding: 1.5rem 6rem;padding: 1.5rem 6rem;
}
